ion-header.title-header {
    ion-title {
        font-size: 1.3rem;
    }

    ion-segment {
        // margin-top: 10px;
        --background: var(--ion-color-primary);

        ion-segment-button {
            font-size: 1rem;
            --color: var(--ion-color-light);
            --color-checked: #ffffff;
        }

        ion-label {
            font-weight: bold;

        }
    }
}

ion-content {
    ion-list {
        ion-list-header {
            font-size: 1.2rem;
        }

        ion-item {
            ion-label {
                font-size: 1.2rem;

                p {
                    margin-top: 3px;
                }
            }

            ion-text {
                font-size: 0.9rem;
            }
        }
    }

    ion-modal {
        ion-header {
            ion-toolbar {
                ion-title {
                    font-size: 1.3rem;
                }
            }
        }
    }
}